table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #0077ff;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #0077ff;
}
tr:nth-child(even) {
    background-color: #0077ff;
}
h1{
    text-align: center;
}
@media only screen and (max-width: 1000px) {
    header {
      font-size: 20px;
    }
}